
  
  .App{
    text-align: center;
  }
  
  /* Header Css */
  .ui.secondary.inverted.pointing.menu{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding:10px 0;
  }
  .mobile-dropdown span{
    color:black;
  }
  .active{
    
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  }
  
  /* Home Css*/
  body { 
    background: url(../images/header-background.jpg) center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  h1.ui.header{
    margin-top: 2em !important;
    font-size: 3em;
    letter-spacing: 1px;
  }
  p{
    color:white;
    font-size: 1.2em;
    letter-spacing: 0.5px;
  }
  
  .man-image{
    margin: 30px 0;
    height:300px;
    width:200px;
    transition: width 0.2s, height 0.2s;
  }
  
  .registerButton{
    margin-top: 50px;
  }
  .registerButton button{
    border: 0px solid white;
  }

  .ui.divided.grid:not([class*="vertically divided"])>.row>.column{
    box-shadow: none;
  }

  /* register css */
  
.register{
  margin-top: 5%;
}
.register img {
  margin-top: 15vh;
}
label{
  font-size: 20px !important;
  padding-bottom:20px;
}

form{
  margin-top: 5%;
  text-align: center;
}
.typeLabel{
  font-weight:bold;
}
select{
  margin: 20px 0;
}
.ui.form .field .prompt.label:empty{
  display: none;
}

/* preview */
.preview{
  margin-left: 20px !important;
  margin-bottom: 20px !important;
  text-align: center;
}
.preview h3{
  margin-top: 20px !important;
}
.preview img{
  height:30vh;
  width:40vh;
}

/* registrations count css */
.registrationsCount{
  margin-top:10vh;
}
.registrationsCount h3{
  margin-top:30px !important;
}


/* registrations css */
.registrations{
  margin-top:10vh;
}
.registrations h2{
  margin-top:30px !important;
}
.registrations .item{
  font-size: 17px;
  
}
.registrations .content{
  padding:5px;
}
/* registration detail css */

.registrationDetail{
  margin-top:10vh;
}

.registrationDetail h2{
  margin-top:30px !important;
}

.registrationDetail img{
  height:300px;
  width:400px;
}
.registrationDetail .details{
  margin-top: 5vh;
}


/* Media Queries */
@media only screen and (max-width: 790px) {
  .registerButton{
    margin-bottom: 20px;
  }
  .preview{
    margin-left: 0px !important;
  }
  .registrationDetail img{
    margin-bottom: 20px;
  }
}
